body {
    background-image: url("https://picsum.photos/id/8/900/900") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#header, .nav > a, #hero, #cta{
    color:white;
}

#header {
    background-color:#13293D;
    height:60px;
}

.nav > a {
    text-decoration: none;
}

#hero {
    font-size: 22px;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color: #6A8EAE;
    text-decoration: none;
}